@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #020617; /* Matches slate-950 */
  color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #020617; /* slate-950 */
}

::-webkit-scrollbar-thumb {
  background: #1e293b; /* slate-800 */
  border-radius: 5px;
  border: 2px solid #020617; /* slate-950 */
}

::-webkit-scrollbar-thumb:hover {
  background: #334155; /* slate-700 */
}
